<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="uk.imp.co.ui.commands.category">
      </category>
      <command
            name="DICE CO Tool"
            categoryId="uk.imp.co.ui.commands.category"
            id="uk.imp.co.ui.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="uk.imp.co.ui.commands.sampleCommand"
            class="uk.imp.co.ui.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.imp.co.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="DICE Tools"
               mnemonic="M"
               id="uk.imp.co.ui.menus.sampleMenu">
            <command
            	  label="DICE CO Tool"
                  commandId="uk.imp.co.ui.commands.sampleCommand"
                  mnemonic="S"
                  id="uk.imp.co.ui.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="uk.imp.co.ui.toolbars.sampleToolbar">
            <command
                  commandId="uk.imp.co.ui.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="uk.imp.co.ui.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="uk.ic.dice.co.ui.launchConfigurationType"
            name="CO launch">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="uk.ic.dice.co.ui.launchConfigurationTypeImage1"
            icon="icons/co-icon.png"
            id="uk.ic.dice.co.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="uk.ic.dice.co.ui.AbstractLaunchConfigurationTabGroup"
            description="Launches a configuration tuning"
            id="uk.ic.dice.co.ui.launchConfigurationTabGroup"
            type="es.unizar.disco.simulation.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="uk.ic.dice.co.ui.MainLaunchConfigurationTab"
            group="es.unizar.disco.simulation.ui.launchConfigurationTabGroup"
            id="uk.ic.dice.co.ui.mainTab"
            name="Main">
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="uk.ic.dice.co.ui.launcher.ConfigurationLaunchShortcut"
            icon="icons/co-icon.png"
            id="uk.ic.dice.co.ui.shortcut"
            label="Configuration Optimization"
            modes="run">
      </shortcut>
   </extension>

</plugin>
